.fifth_main_container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	background-color: #1fe1e9;
}

.fifth_main_content__title {
	text-align: left;
	font: normal normal bold 50px/79px Arial, Helvetica, sans-serif;
	letter-spacing: 6px;
	color: #ffffff;
	opacity: 1;

	position: absolute;
	left: 30%;
	top: 35%;
	width: 400px;
	height: 100px;
}
.stars {
	position: absolute;
	left: 0%;
	top: 0%;
}
.star {
	padding-right: 10px;
}
.fifth_main_content1 {
	position: absolute;
	left: 30%;
	top: 50%;
	width: 23%;
	height: 300px;
	flex: 1;
	flex-direction: row;
	padding-top: 40px;
	align-content: left;
	align-items: left;
}
.fifth_main_content2 {
	position: absolute;
	left: 53%;
	top: 50%;
	width: 23%;
	height: 300px;
	flex: 1;
	flex-direction: row;
	padding-top: 40px;
}
.fifth_main_content3 {
	position: absolute;
	left: 76%;
	top: 50%;
	width: 23%;
	height: 300px;
	flex: 1;
	flex-direction: row;
	padding-top: 40px;
}
.fifth_main_content1__title {
	text-align: left;
	font: normal normal bold 35px/43px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #ffffff;
	opacity: 1;
}

.fifth_main_content1__desc {
	padding-top: 10px;
	text-align: left;
	font: normal normal normal 25px/31px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #191919;
	opacity: 1;
}

.fifth_main_content2__title {
	text-align: left;
	font: normal normal bold 35px/43px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #ffffff;
	opacity: 1;
}

.fifth_main_content2__desc {
	padding-top: 10px;
	text-align: left;
	font: normal normal normal 25px/31px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #191919;
	opacity: 1;
}
.fifth_main_content3__title {
	text-align: left;
	font: normal normal bold 35px/43px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #ffffff;
	opacity: 1;
}

.fifth_main_content3__desc {
	padding-top: 10px;
	text-align: left;
	font: normal normal normal 25px/31px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #191919;
	opacity: 1;
}

.fifth_images {
	position: absolute;
	left: 0%;
	top: 30%;
	width: 30%;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.fifth_image1 {
	margin-top: 0px;
}

.fifth_image2 {
	margin-top: -35%;
	margin-left: 30px;
	margin-right: -30px;
}
