.fourth_main_container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	background-color: #191919;
}

.fourth_main_content__title {
	text-align: left;
	margin-left: 150px;
	font: normal normal bold 50px/79px Arial, Helvetica, sans-serif;
	letter-spacing: 6px;
	color: #ffffff;
	opacity: 1;

	position: absolute;
	left: 0%;
	top: 25%;
	width: 400px;
	height: 100px;
}

.fourth_main_content1 {
	position: absolute;
	left: 0%;
	top: 35%;
	width: 33%;
	height: 300px;
	flex: 1;
	flex-direction: row;
	padding-top: 40px;
}
.fourth_main_content2 {
	position: absolute;
	left: 33%;
	top: 35%;
	width: 34%;
	height: 300px;
	flex: 1;
	flex-direction: row;
	padding-top: 40px;
}
.fourth_main_content3 {
	position: absolute;
	left: 67%;
	top: 35%;
	width: 34%;
	height: 300px;
	flex: 1;
	flex-direction: row;
	padding-top: 40px;
}
.fourth_main_content1__title {
	margin-left: 140px;

	text-align: left;
	font: normal normal bold 41px/42px Arial, Helvetica, sans-serif;
	letter-spacing: 5.1px;
	color: #d34848;
	opacity: 1;
}

.fourth_main_content1__desc {
	margin-left: 140px;
	padding-top: 10px;
	text-align: left;
	font: normal normal normal 25px/31px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #ffffff;
	opacity: 1;
}

.fourth_main_content2__title {
	margin-left: 70px;
	margin-right: 70px;

	text-align: left;
	font: normal normal bold 41px/42px Arial, Helvetica, sans-serif;
	letter-spacing: 5.1px;
	color: #1fe1e9;
	opacity: 1;
}

.fourth_main_content2__desc {
	margin-left: 70px;
	margin-right: 70px;
	padding-top: 10px;
	text-align: left;
	font: normal normal normal 25px/31px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #ffffff;
	opacity: 1;
}
.fourth_main_content3__title {
	margin-right: 140px;

	text-align: left;
	font: normal normal bold 41px/42px Arial, Helvetica, sans-serif;
	letter-spacing: 5.1px;
	color: #ffb33f;
	opacity: 1;
}

.fourth_main_content3__desc {
	margin-right: 140px;
	padding-top: 10px;
	text-align: left;
	font: normal normal normal 25px/31px Arial, Helvetica, sans-serif;
	letter-spacing: 3.5px;
	color: #ffffff;
	opacity: 1;
}
